/*Events page styling*/

/*button styling and hover state*/

.btn {
	position: relative;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	margin-right: 20px;
	transition: 0.3s;
	&:after {
		content: "";
		position: absolute;
		transition: 0.3s;
		z-index: -1;
		background: transparent;
	}
	&:before {
		content: "";
		position: absolute;
	}
}

/**** from left to right style ****/

.btn-l-r { 
	&:hover {
		p { 
			color: $green;
		}
	}

	&:hover:after {
		background-color: $dark-green;
		width: 100%;
	}

	&:after {
		top: 0;
		left: 0;
		width: 0%;
		height: 100%;
	}
}



/*Tabs styling*/

.accordion-tabs-minimal {
  $base-border-color: lighten($dark-green, 40%) !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: $green !default;
  $dark-gray: $dark-green !default;
  $medium-screen: em(480) !default;
  $tab-link-color: $dark-gray;
  $tab-border: 1px solid $base-border-color;
  $tab-active-background: $base-background-color;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: $light-green;
  $tab-mode: $medium-screen;

	@include clearfix;
	line-height: 1.5;
	padding: 0;
	max-width: 700px;
	width: 100%;

  li.tab-header-and-content {
    list-style: none;

    @include media($tab-mode) {
      display: inline;
    }
  }

  a.tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $tab-link-color;
    display: block;
    font-family: $dosis;
    font-weight: 600;
    padding: ($base-spacing / 2) $gutter;
    text-decoration: none;

    @include media($tab-mode) {
      @include inline-block;
      border-top: 0;
    }

    &:hover {
      color: $action-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing $gutter;
    width: 100%;
    	section {
			padding: 0 30px;
			box-sizing: border-box;
			overflow: hidden;
		}

		h4 {
			color: $green;
			font-family: $montserrat;
			font-weight: 700;
			font-size: 24px;
			margin: 60px 15px 30px 15px;
			width: 100%;
		  	text-align: center;
		}

		div {
			border-bottom: solid 3px $dark-green;
			border-left: solid 10px $dark-green;
			border-right: solid 3px $dark-green;
			border-top: solid 3px $dark-green;
			float: left;
			margin: 15px 0;
			width: 100%;
		}

		p {
			color: $green;
			font-family: $montserrat; 
			line-height: 1.5em;
			padding-left: 15px;
			padding-right: 15px;
		}

		section p:first-of-type {
			font-size: 18px;
			font-weight: 400;
		  	margin-top: 30px; 
		  	margin-bottom: 10px;
		  	width: 100%;
		}

		section p:last-of-type {
			font-size: 24px;
			font-weight: 700;
		  	margin-bottom: 30px;
		  	margin-top: 0; 
		}



    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }

  }
}


/*Media queries*/


@media screen and (min-width: 480px) {
	.page-header {
		font-size: 2.25rem;
	}

	.accordion-tabs-minimal {
		margin: 16px auto;
		padding: 15px;
		.tab-content {
			
			border-bottom: 1px solid lighten($dark-green, 40%);
			border-left: 1px solid lighten($dark-green, 40%);
			border-right: 1px solid lighten($dark-green, 40%);
			section {

				h4 {
					font-size: 36px;
				}

				div {

					width: 100%;
					float: left;

				}

			}
		}
	}

}



@media screen and (min-width: 760px) {

}





