/*Variables*/

$dosis: 'Dosis', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$key-color: #262626;
$dark-green: #3A3A3C;
$green: #1fb870;
$light-green: #bedc32;
$grey: #f5f6f4;
$light-blue: #52E8B6;
