/*Variables*/
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600|Montserrat:400,700);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*Events page styling*/
/*Tabs styling*/
.accordion-tabs-minimal {
  line-height: 1.5;
  padding: 0;
  max-width: 700px;
  width: 100%; }
  .accordion-tabs-minimal::after {
    clear: both;
    content: "";
    display: table; }
  .accordion-tabs-minimal li.tab-header-and-content {
    list-style: none; }
    @media screen and (min-width: 30em) {
      .accordion-tabs-minimal li.tab-header-and-content {
        display: inline; } }
  .accordion-tabs-minimal a.tab-link {
    background-color: white;
    border-top: 1px solid #9f9fa3;
    color: #3A3A3C;
    display: block;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    padding: 0.75em 1.618em;
    text-decoration: none; }
    @media screen and (min-width: 30em) {
      .accordion-tabs-minimal a.tab-link {
        display: inline-block;
        border-top: 0; } }
    .accordion-tabs-minimal a.tab-link:hover {
      color: #52E8B6; }
    .accordion-tabs-minimal a.tab-link:focus {
      outline: none; }
    .accordion-tabs-minimal a.tab-link.is-active {
      border-bottom: 0; }
      @media screen and (min-width: 30em) {
        .accordion-tabs-minimal a.tab-link.is-active {
          border: 1px solid #9f9fa3;
          border-bottom-color: white;
          margin-bottom: -1px; } }
  .accordion-tabs-minimal .tab-content {
    display: none;
    padding: 1.5em 1.618em;
    width: 100%; }
    .accordion-tabs-minimal .tab-content section {
      padding: 0 30px;
      box-sizing: border-box;
      overflow: hidden; }
    .accordion-tabs-minimal .tab-content h4 {
      color: #1fb870;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 30px;
      margin: 30px 0;
      width: 100%;
      text-align: center;
      text-shadow: 1px 1px #3A3A3C; }
    .accordion-tabs-minimal .tab-content div {
      border-bottom: solid 3px #3A3A3C;
      border-left: solid 10px #3A3A3C;
      border-right: solid 3px #3A3A3C;
      border-top: solid 3px #3A3A3C;
      float: left;
      margin: 15px 0;
      width: 100%; }
      .accordion-tabs-minimal .tab-content div div {
        border: none;
        margin: 0; }
      .accordion-tabs-minimal .tab-content div img {
        display: none; }
    .accordion-tabs-minimal .tab-content p {
      color: #1fb870;
      font-family: "Montserrat", sans-serif;
      line-height: 1.5em;
      padding-left: 15px;
      padding-right: 15px; }
    .accordion-tabs-minimal .tab-content section p:first-of-type {
      font-size: 18px;
      font-weight: 400;
      margin-top: 30px;
      margin-bottom: 10px; }
    .accordion-tabs-minimal .tab-content section p:last-of-type {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
      margin-top: 0; }
    @media screen and (min-width: 30em) {
      .accordion-tabs-minimal .tab-content {
        border-top: 1px solid #9f9fa3;
        float: left; } }

/*Media queries*/
@media screen and (min-width: 480px) {
  .page-header {
    font-size: 2.25rem; }

  .accordion-tabs-minimal {
    margin: 16px auto;
    padding: 15px; }
    .accordion-tabs-minimal .tab-content {
      border-bottom: 1px solid #9f9fa3;
      border-left: 1px solid #9f9fa3;
      border-right: 1px solid #9f9fa3; }
      .accordion-tabs-minimal .tab-content section h4 {
        font-size: 36px; }
      .accordion-tabs-minimal .tab-content section div {
        width: 100%;
        float: left; } }
@media screen and (min-width: 760px) {
  /*Button styling and hover states*/
  .btn {
    position: relative;
    background: transparent;
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.15s; }
    .btn:after {
      content: "";
      position: absolute;
      transition: 0.15s;
      z-index: -1;
      background: transparent; }
    .btn:before {
      content: "";
      position: absolute; }

  /**** from left to right style ****/
  .btn-l-r:hover p {
    color: #52E8B6; }
  .btn-l-r:hover:after {
    background-color: #3A3A3C;
    width: 100%; }
  .btn-l-r:after {
    top: 0;
    left: 0;
    width: 0%;
    height: 100%; } }
/*Event Listing*/
.main-container {
  background-color: #f5f6f4;
  box-sizing: border-box;
  overflow: hidden; }

.event-image {
  background: url("../images/ingredients-lg.png") 0 0 no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 400px;
  width: 100%; }

.back-to-events {
  background-color: #3A3A3C;
  border-bottom: 1px solid transparent;
  color: #bedc32;
  float: left;
  font-family: "Dosis", sans-serif;
  font-size: 1.125rem;
  letter-spacing: .05em;
  margin: 15px 0;
  padding: 15px;
  text-decoration: none; }

.page-header {
  opacity: 1;
  clear: both;
  color: #1fb870;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 30px;
  text-align: center;
  text-shadow: 1px 1px #3A3A3C; }

.listing-box {
  box-shadow: 1px 1px 1px #d9d9d9;
  margin: 30px; }
  .listing-box .label {
    background-color: #3A3A3C;
    color: #52E8B6;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 12px 15px; }
  .listing-box .event-description {
    background-color: #fff;
    color: #3A3A3C;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px 15px; }

.profile-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  vertical-align: middle; }

.rsvp {
  margin: 30px; }

.button button {
  background-color: #bedc32;
  border: solid 3px #3A3A3C;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #3A3A3C;
  list-style: none;
  display: inline-block;
  font-size: 1.125rem;
  letter-spacing: .1em;
  padding: 12px 15px; }

/*Main navigation*/
.header {
  width: 100%;
  background-color: #3A3A3C; }
  .header a .logo-place {
    background-color: #f5f6f4;
    font-family: "Dosis", sans-serif;
    height: 40px;
    width: 40px;
    margin-left: 30px;
    margin-top: 15px;
    text-decoration: none;
    display: inline-block;
    float: left; }
  .header .menuIcon {
    background: #3A3A3C;
    display: block;
    font-family: "Dosis", sans-serif;
    color: #f5f6f4;
    text-decoration: none;
    padding: .75em;
    font-size: 1.5em;
    text-align: right; }
  .header .nav {
    background: #3A3A3C;
    margin: 0;
    padding: 0;
    text-align: center;
    display: none; }
    .header .nav .selected {
      border: solid 3px #f5f6f4; }
  .header .nav li {
    border: solid 3px transparent;
    font-family: "Dosis", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    list-style: none;
    color: #f5f6f4;
    letter-spacing: .1em;
    padding: 1em;
    margin: .3em;
    display: block;
    transition: all 0.3s;
    vertical-align: center; }
  .header .nav a {
    text-decoration: none; }
  .header .list {
    display: block; }

@media screen and (min-width: 600px) {
  .header {
    width: 100%; }
    .header .nav {
      font-size: 0;
      background: #3A3A3C;
      padding: 0;
      width: 100%;
      text-align: center;
      display: block; }
      .header .nav .selected {
        border: solid 3px #f5f6f4; }
    .header .nav li {
      border: solid 3px transparent;
      font-family: "Dosis", sans-serif;
      font-weight: 600;
      color: #f5f6f4;
      list-style: none;
      display: inline-block;
      font-size: 1.125rem;
      letter-spacing: .1em;
      margin: .5rem;
      padding: 12px 15px;
      transition: all 0.3s ease-in-out; }
      .header .nav li:hover {
        border: solid 3px #f5f6f4; }
    .header .menuIcon {
      display: none; } }
/*Global styling*/
/*Form header*/
.create-event-header {
  background-color: #1fb870;
  color: #f5f6f4;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  opacity: .9;
  padding: 30px;
  position: relative;
  top: 60px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; }
  .create-event-header .create-header {
    opacity: 1;
    clear: both;
    color: #3A3A3C;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px #52E8B6; }

/*Form*/
.create-image {
  opacity: 1;
  width: 100%;
  height: 378px;
  background-image: url("../images/kitchen-pattern.png");
  background-color: #1fb870;
  background-blend-mode: luminosity; }

.create-container {
  background-color: #f5f6f4; }

form {
  margin: 0;
  padding: 15px;
  max-width: 700px; }
  form .ndt-container {
    width: 100%; }
    form .ndt-container label, form .ndt-container input {
      width: 100%; }
  form .gdf-container label, form .gdf-container input {
    width: 100%; }
  form label {
    color: #1fb870;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 10px; }
  form input[type=text],
  form input[type=date],
  form input[type=time],
  form textarea {
    background-color: white;
    border: 1px solid #52E8B6;
    font-family: "Montserrat", sans-serif;
    font-size: .812rem;
    color: #535356; }
  form input[type=text],
  form textarea {
    padding: 15px; }
  form input[type=date],
  form input[type=time] {
    padding: 13px 15px; }
  form textarea {
    width: 100%;
    height: 200px;
    line-height: 1.5; }
  form .create-button {
    margin-top: 30px; }

::-webkit-input-placeholder {
  color: #535356; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #535356; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #535356; }

:-ms-input-placeholder {
  color: #535356; }

.choose-file {
  background-color: #bedc32;
  border: solid 3px #3A3A3C;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  letter-spacing: .1em;
  padding: 10px; }

/*Footer*/
footer {
  background-color: #3A3A3C;
  color: #f5f6f4;
  font-family: "Dosis", sans-serif;
  font-size: 1.125rem;
  height: 60px;
  letter-spacing: .05em; }
  footer .copyright {
    float: left;
    padding: 20px 30px 20px 30px; }
    footer .copyright p {
      margin: 0; }
  footer .social {
    float: right;
    padding: 20px 30px 20px 30px; }
    footer .social a {
      color: #f5f6f4;
      text-decoration: none; }

/*Home*/
.type-wrap {
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 100px 30px;
  letter-spacing: .1em;
  color: #f5f6f4;
  background: linear-gradient(45deg, #52E8B6, #bedc32); }

.home-icon {
  height: 200px;
  width: 200px;
  margin: 30px auto;
  padding: 50px;
  border-radius: 50%;
  background-color: #1fb870; }

.home-description {
  border-bottom: 1px solid #52E8B6;
  color: #3A3A3C;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 30px;
  max-width: 700px;
  padding-bottom: 30px; }

/*Media queries*/
@media screen and (min-width: 480px) {
  .page-header, .create-event-header .create-header {
    font-size: 2.25rem; }

  form .ndt-container {
    max-width: 400px; }
    form .ndt-container label, form .ndt-container input {
      width: 100%; }
  form .gdf-container {
    max-width: 400px; }
    form .gdf-container label, form .gdf-container input {
      width: 100%; }

  .type-wrap {
    font-size: 2rem; } }
@media screen and (min-width: 760px) {
  form {
    max-width: 700px;
    margin: 0 auto; }

  .listing-box, .rsvp {
    max-width: 700px;
    margin: 30px auto; }

  .create-event-header p {
    max-width: 700px;
    margin: 0 auto; }

  .back-to-events {
    margin: 30px 0; }
    .back-to-events:hover {
      background-color: #535356;
      color: #cce35e; }

  form .ndt-container {
    float: left;
    padding-right: 15px;
    width: 335px; }
    form .ndt-container label, form .ndt-container input {
      width: 100%; }
  form .gdf-container {
    float: left;
    width: 335px; }
    form .gdf-container label, form .gdf-container input {
      width: 100%; }
  form .clear {
    clear: both; }

  .type-wrap {
    font-size: 2rem;
    padding: 150px; } }
@media screen and (min-width: 960px) {
  .type-wrap {
    font-size: 3rem; } }

/*# sourceMappingURL=main.css.map */
