@import 'variables', 'bourbon/bourbon', 'neat/neat', 'events';
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600|Montserrat:400,700);


/*Main navigation*/


.header {
	width: 100%;
	background-color: $green;
	
	a .logo-place {
		background-color: $grey;
		font-family: $dosis;
		height: 40px;
		width: 40px;
		margin-left: 30px;
		margin-top: 15px;
		text-decoration: none;
		display: inline-block;
		float: left;
	}

	.menuIcon {
		background: $green;
		display: block;
		font-family: $dosis;
		color: $grey;
		text-decoration: none;
		padding: .75em;
		font-size: 1.5em;
		text-align: right;
	}

	.nav {
		background: $green;
		margin: 0;
		padding: 0;
		text-align: center;
		display: none;

		.selected {
			border: solid 3px $grey;
		}
	}

	.nav li {
		border: solid 3px transparent;
		font-family: $dosis;
		font-size: 1.125rem;
		font-weight: 600;
		list-style: none;
		color: $grey;
		letter-spacing: .1em;
		padding: 1em;
		margin: .3em;
		display: block;
		transition: all 0.3s;

	}

	.nav a {
		text-decoration: none;
	}

	.list {
		display: block;
	}
}

@media screen and (min-width: 600px) {

	.header {
		width: 100%;

		.nav {
			font-size: 0;
			background: $green;
			padding: 0;
			width: 100%;
			text-align: center;
			display: block;

			.selected {
				border: solid 3px $grey;
			}
		}

		.nav li {
			border: solid 3px transparent;
			font-family: $dosis;
			font-weight: 600;
			color: $grey;
			list-style: none;
			display: inline-block;
			font-size: 1.125rem;
			letter-spacing: .1em;
			margin: .5rem;
			padding: 12px 15px;
			transition: all 0.3s ease-in-out;

			&:hover {
				border: solid 3px $grey;
			}
		}

		.menuIcon {
			display: none;
		}
	}
}

/*Global styling*/

body {
	background-color: $grey;
}



/*Form header*/

.create-event-header {
	background-color: $green;
	color: $key-color;
	font-family: $montserrat;
	font-size: 18px;
	line-height: 1.5;
	margin-top: 30px;
	padding: 30px;
	width: 100%;
}

/*Form*/


form {
	
	margin: 30px;
	max-width: 700px;

	.ndt-container {
		width: 100%;

		label, input {
			width: 100%;
		}
	}

	.gdf-container {

		label, input {
			width: 100%;
		}
	}

	label {
		color: $green;
		display: block;
		font-family: $montserrat;
		font-size: 1rem;
		font-weight: 400;
		padding-top: 30px;
		padding-bottom: 10px;
	}

	input[type=text], 
	input[type=date],
	input[type=time],
	textarea {
		border: 1px solid $light-green;
		font-family: $montserrat;
		font-size: .812rem;
		color: lighten($dark-green, 10%);
	}

	input[type=text],
	textarea {
		padding: 7px 10px;
	}

	input[type=date],
	input[type=time] {
		padding: 5.5px 10px;
	}

	textarea {
		width: 100%;
		height: 200px;
	}

	.create-button {
		margin-top: 30px;
	}
}

.form {
	background-color: $dark-green;
	padding: 15px;
}

::-webkit-input-placeholder {
   color: lighten($dark-green, 10%);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($dark-green, 10%);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($dark-green, 10%);  
}

:-ms-input-placeholder {  
   color: lighten($dark-green, 10%);  
}

/*Event Listing*/

.back-to-events {
	border-bottom: 1px solid transparent;
	color: $light-green;
	float: left;
	font-family: $dosis;
	font-size: 1.125rem;
	letter-spacing: .05em;
	margin: 30px;
	padding-bottom: 5px;
	text-decoration: none;
}

.page-header {
	clear: both;
	color: $green;
	font-family: $montserrat;
	font-weight: 700;
	font-size: 1.5rem;
	margin: 30px;
  	text-align: center;
}

.listing-box {
	border: 1px solid lighten($key-color, 30%);
	margin: 30px;
	
	.label {
		border-bottom: 1px solid lighten($key-color, 30%);
		background-color: $dark-green;
		color: $green;
		font-family: $montserrat;
		font-size: 1.125rem;
		font-weight: 700;
		padding: 12px 15px;
	}

	.event-description {
		color: $dark-green;
		font-family: $montserrat;
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1.5;
		padding: 12px 15px;
	}
}

.profile-image {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

.button {
	button {
		background-color: $light-green;
		border: solid 3px $dark-green;
		font-family: $dosis;
		font-weight: 600;
		color: $dark-green;
		list-style: none;
		display: inline-block;
		font-size: 1.125rem;
		letter-spacing: .1em;
		padding: 12px 15px;
	}
}

footer {
	background-color: $green;
	color: $grey;
	font-family: $dosis;
	font-size: 1.125rem;
	height: 60px;
	letter-spacing: .05em;
	margin-top: 60px;

	.copyright {
		float: left;
		padding: 20px 30px 20px 30px;
		p {
			margin: 0;
		}
	}

	.social {
		float: right;
		padding: 20px 30px 20px 30px;
		
		a {
			color: $grey;
			text-decoration: none;
		}
	}
}


/*Media queries*/


@media screen and (min-width: 480px) {
	.page-header {
		font-size: 2.25rem;
	}

	form {

		.ndt-container {
			max-width: 400px;

			label, input {
				width: 100%;
			}
		}

		.gdf-container {
			max-width: 400px;
			
			label, input {
				width: 100%;
			}
		}
	}

}



@media screen and (min-width: 760px) {
	.create-event-header, .listing-box, form {
		max-width: 700px;
		margin: 30px auto 0 auto;
	}

	.back-to-events {

		&:hover {
			border-bottom: 1px solid $light-green;
		}
	}

	form {

		.ndt-container {
			float: left;
			padding-right: 15px;
			width: 335px;

			label, input {
				width: 100%;
			}
		}

		.gdf-container {
			float: left;
			width: 335px;
			
			label, input {
				width: 100%;
			}
		}

		.clear {
			clear: both;
		}
	}

}





