@import url(https://fonts.googleapis.com/css?family=Dosis:400,600|Montserrat:400,700);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*Variables*/
/*Main navigation*/
.header {
  width: 100%;
  background-color: #1fb870; }
  .header a .logo-place {
    background-color: #f5f6f4;
    font-family: "Dosis", sans-serif;
    height: 40px;
    width: 40px;
    margin-left: 30px;
    margin-top: 15px;
    text-decoration: none; }
  .header .menuIcon {
    background: #1fb870;
    display: block;
    font-family: "Dosis", sans-serif;
    color: #f5f6f4;
    text-decoration: none;
    padding: .75em;
    font-size: 1.5em;
    text-align: right; }
  .header .nav {
    background: #1fb870;
    margin: 0;
    padding: 0;
    text-align: center;
    display: none; }
    .header .nav .selected {
      border: solid 3px #f5f6f4; }
  .header .nav li {
    border: solid 3px transparent;
    font-family: "Dosis", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    list-style: none;
    color: #f5f6f4;
    letter-spacing: .1em;
    padding: 1em;
    margin: .3em;
    display: block; }
    .header .nav li:hover {
      border: solid 3px #f5f6f4; }
  .header .nav a {
    text-decoration: none; }
  .header .list {
    display: block; }

@media screen and (min-width: 480px) {
  .header {
    width: 100%; }
    .header .nav {
      font-size: 0;
      background: #1fb870;
      padding: 0;
      width: 100%;
      text-align: center;
      display: inline-block; }
      .header .nav .selected {
        border: solid 3px #f5f6f4; }
    .header .nav li {
      border: solid 3px transparent;
      font-family: "Dosis", sans-serif;
      font-weight: 600;
      color: #f5f6f4;
      list-style: none;
      display: inline-block;
      font-size: 1.125rem;
      letter-spacing: .1em;
      margin: .5rem;
      padding: 12px 15px; }
      .header .nav li:hover {
        border: solid 3px #f5f6f4; }
    .header .menuIcon {
      display: none; } }
/*minimal tabs*/
.accordion-tabs-minimal {
  line-height: 1.5;
  padding: 0; }
  .accordion-tabs-minimal::after {
    clear: both;
    content: "";
    display: table; }
  .accordion-tabs-minimal li.tab-header-and-content {
    list-style: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs-minimal li.tab-header-and-content {
        display: inline; } }
  .accordion-tabs-minimal a.tab-link {
    background-color: white;
    border-top: 1px solid gainsboro;
    color: #333;
    display: block;
    padding: 0.75em 1.618em;
    text-decoration: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs-minimal a.tab-link {
        display: inline-block;
        border-top: 0; } }
    .accordion-tabs-minimal a.tab-link:hover {
      color: #477DCA; }
    .accordion-tabs-minimal a.tab-link:focus {
      outline: none; }
    .accordion-tabs-minimal a.tab-link.is-active {
      border-bottom: 0; }
      @media screen and (min-width: 40em) {
        .accordion-tabs-minimal a.tab-link.is-active {
          border: 1px solid gainsboro;
          border-bottom-color: white;
          margin-bottom: -1px; } }
  .accordion-tabs-minimal .tab-content {
    display: none;
    padding: 1.5em 1.618em;
    width: 100%; }
    @media screen and (min-width: 40em) {
      .accordion-tabs-minimal .tab-content {
        border-top: 1px solid gainsboro;
        float: left; } }

/*Events Section*/
.scroll-on-page {
  display: inline-block; }
  .scroll-on-page a {
    color: #477DCA;
    text-decoration: none; }
  @media screen and (min-width: 30em) {
    .scroll-on-page aside {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .scroll-on-page aside:last-child {
        margin-right: 0; } }
  .scroll-on-page .scroll-on-page-link {
    border-bottom: 1px solid rgba(71, 125, 202, 0.2);
    display: block;
    margin-right: 1.5em;
    outline: none;
    padding: 0.75em 0; }
    .scroll-on-page .scroll-on-page-link:last-child {
      margin-bottom: 1.5em; }
  .scroll-on-page article h4 {
    margin: 0 0 0.5em 0; }
  .scroll-on-page article p {
    color: #333;
    line-height: 1.5em; }
  .scroll-on-page article section p:last-of-type {
    margin-bottom: 2em; }
  @media screen and (min-width: 30em) {
    .scroll-on-page article {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .scroll-on-page article:last-child {
        margin-right: 0; } }

/*# sourceMappingURL=main.css.map */
