@import 'bourbon/bourbon', 'neat/neat';
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600|Montserrat:400,700);

/*Variables*/

$dosis: 'Dosis', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$key-color: #262626;
$dark-green: #3a3a3c;
$green: #1fb870;
$light-green: #bedc32;
$grey: #f5f6f4;

/*Main navigation*/


.header {
	width: 100%;
	background-color: $green;
	
	a .logo-place {
		background-color: $grey;
		font-family: $dosis;
		height: 40px;
		width: 40px;
		margin-left: 30px;
		margin-top: 15px;
		text-decoration: none;
		display: inline-block;
		float: left;
	}

	.menuIcon {
		background: $green;
		display: block;
		font-family: $dosis;
		color: $grey;
		text-decoration: none;
		padding: .75em;
		font-size: 1.5em;
		text-align: right;
	}

	.nav {
		background: $green;
		margin: 0;
		padding: 0;
		text-align: center;
		display: none;

		.selected {
			border: solid 3px $grey;
		}
	}

	.nav li {
		border: solid 3px transparent;
		font-family: $dosis;
		font-size: 1.125rem;
		font-weight: 600;
		list-style: none;
		color: $grey;
		letter-spacing: .1em;
		padding: 1em;
		margin: .3em;
		display: block;
		transition: all 0.3s;

		&:hover {
			border: solid 3px $grey;
		}
	}

	.nav a {
		text-decoration: none;
	}

	.list {
		display: block;
	}
}

@media screen and (min-width: 600px) {

	.header {
		width: 100%;

		.nav {
			font-size: 0;
			background: $green;
			padding: 0;
			width: 100%;
			text-align: center;
			display: block;

			.selected {
				border: solid 3px $grey;
			}
		}

		.nav li {
			border: solid 3px transparent;
			font-family: $dosis;
			font-weight: 600;
			color: $grey;
			list-style: none;
			display: inline-block;
			font-size: 1.125rem;
			letter-spacing: .1em;
			margin: .5rem;
			padding: 12px 15px;
			transition: all 0.3s ease-in-out;

			&:hover {
				border: solid 3px $grey;
			}
		}

		.menuIcon {
			display: none;
		}
	}
}

/*Global styling*/

body {
	background-color: $grey;
	width: 100%;
}

/*Events Section*/

.btn {
	position: relative;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	border: 1px solid;
	margin-right: 20px;
	transition: 0.3s;
	&:after {
		content: "";
		position: absolute;
		transition: 0.3s;
		z-index: -1;
		background: transparent;
	}
	&:before {
		content: "";
		position: absolute;
	}
}

/**** from left to right style ****/

.btn-l-r { 
	&:hover {
		p { 
			color: $green;
		}
	}

	&:hover:after {
		background: $dark-green;
		width: 100%;
	}
	&:after {
		top: 0;
		left: 0;
		width: 0%;
		height: 100%;
	}
}

.scroll-on-page {
	$base-line-height: 1.5em !default;
	$base-spacing: 1.5em !default;
	$action-color: #477DCA !default;
	$dark-gray: #333 !default;
	$large-screen: em(480) !default;
	$base-font-color: $dark-green !default;

	display: inline-block;

	a {
		color: $key-color;
		font-family: $dosis;
		font-weight: 600;
		text-decoration: none;
	}

	aside {
		margin-top: 30px;
		@include media($large-screen) {
	  		@include span-columns(4);
		}
	}

	.last-event {
		margin-bottom: 30px;
	}

	.scroll-on-page-link {

		display: block;
		font-size: 1.125rem;
		outline: none;
		padding: ($base-spacing / 2) 30px;

		&:first-child {
			padding-top: $base-spacing;
		}

		&:last-child {
			margin-bottom: $base-spacing;
			border-bottom: 3px solid transparentize($green, 0.8);
		}
	}

	article {
		max-width: 700px;
		width: 100%;

		section {
			padding: 0 30px;
		}

		h4 {
			color: $green;
			font-family: $montserrat;
			font-weight: 700;
			font-size: 24px;
			margin: 60px 15px 30px 15px;
			width: 100%;
		  	text-align: center;
		}

		div {
			border-bottom: solid 3px $dark-green;
			border-left: solid 10px $dark-green;
			border-right: solid 3px $dark-green;
			border-top: solid 3px $dark-green;
			float: left;
			margin: 15px 0;
			width: 100%;
		}

		p {
			color: $green;
			font-family: $montserrat; 
			line-height: $base-line-height;
			padding-left: 15px;
			padding-right: 15px;
		}

		section p:first-of-type {
			font-size: 18px;
			font-weight: 400;
		  	margin-top: 30px; 
		  	margin-bottom: 10px;
		  	width: 100%;
		}

		section p:last-of-type {
			font-size: 24px;
			font-weight: 700;
		  	margin-bottom: 30px;
		  	margin-top: 0; 
		}

		@include media($large-screen) {
			@include span-columns(8);

			section {

				box-sizing: border-box;
				overflow: hidden;
				width: 100%;
				padding: 0 30px;
			}

			h4 {
				font-size: 36px;
			}

			div {

				width: 100%;
				float: left;

			}
		}
	}
}

/*Form header*/

.create-event-header {
	background-color: $green;
	color: $key-color;
	font-family: $montserrat;
	font-size: 18px;
	line-height: 1.5;
	margin-top: 30px;
	padding: 30px;
	width: 100%;
}

/*Form*/


form {
	background-color: $dark-green;
	margin: 30px;
	max-width: 700px;
	padding: 15px;

	label {
		color: $green;
		display: block;
		font-family: $montserrat;
		font-size: 1rem;
		font-weight: 400;
		padding-top: 30px;
		padding-bottom: 10px;
	}

	input[type=text], 
	input[type=date],
	input[type=time],
	textarea {
		border: 1px solid $green;
		font-family: $montserrat;
		font-size: .812rem;
		color: lighten($dark-green, 10%);
	    padding: 7px 10px;
	}

	textarea {
		width: 100%;
		height: 200px;
	}

	input[type=file] {
		padding: 7px 10px;
		color: lighten($green, 10%);
		font-family: $montserrat;
	}

	.create-button {
		margin-top: 30px;
	}
}

/*Event Listing*/

.back-to-events {
	border-bottom: 1px solid transparent;
	color: $light-green;
	float: left;
	font-family: $dosis;
	font-size: 1.125rem;
	letter-spacing: .05em;
	margin: 30px;
	padding-bottom: 5px;
	text-decoration: none;

	&:hover {
		border-bottom: 1px solid $light-green;
	}
}

.page-header {
	clear: both;
	color: $green;
	font-family: $montserrat;
	font-weight: 700;
	font-size: 1.5rem;
	margin: 30px;
  	text-align: center;
}

.listing-box {
	border: 1px solid lighten($key-color, 30%);
	margin: 30px;
	.label {
		border-bottom: 1px solid lighten($key-color, 30%);
		background-color: $dark-green;
		color: $green;
		font-family: $montserrat;
		font-size: 1.125rem;
		font-weight: 700;
		padding: 12px 15px;
	}

	.event-description {
		color: $dark-green;
		font-family: $montserrat;
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1.5;
		padding: 12px 15px;
	}
}

.profile-image {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

.button {
	button {
		background-color: $light-green;
		border: solid 3px $dark-green;
		font-family: $dosis;
		font-weight: 600;
		color: $dark-green;
		list-style: none;
		display: inline-block;
		font-size: 1.125rem;
		letter-spacing: .1em;
		padding: 12px 15px;
	}
}

footer {
	background-color: $green;
	color: $grey;
	font-family: $dosis;
	font-size: 1.125rem;
	height: 60px;
	letter-spacing: .05em;
	margin-top: 60px;

	.copyright {
		float: left;
		padding: 20px 30px 20px 30px;
		p {
			margin: 0;
		}
	}

	.social {
		float: right;
		padding: 20px 30px 20px 30px;
		a {
		color: $grey;
		text-decoration: none;
	}
	}
}

/*Media queries*/


@media screen and (min-width: 480px) {
	.page-header {
		font-size: 2.25rem;
	}

}



@media screen and (min-width: 760px) {
	.create-event-header, .listing-box, form {
		max-width: 700px;
		margin: 30px auto 0 auto;
	}


}





