@import url(https://fonts.googleapis.com/css?family=Dosis:400,600|Montserrat:400,700);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*Variables*/
/*Main navigation*/
.header {
  width: 100%;
  background-color: #1fb870; }
  .header a .logo-place {
    background-color: #f5f6f4;
    font-family: "Dosis", sans-serif;
    height: 40px;
    width: 40px;
    margin-left: 30px;
    margin-top: 15px;
    text-decoration: none;
    display: inline-block;
    float: left; }
  .header .menuIcon {
    background: #1fb870;
    display: block;
    font-family: "Dosis", sans-serif;
    color: #f5f6f4;
    text-decoration: none;
    padding: .75em;
    font-size: 1.5em;
    text-align: right; }
  .header .nav {
    background: #1fb870;
    margin: 0;
    padding: 0;
    text-align: center;
    display: none; }
    .header .nav .selected {
      border: solid 3px #f5f6f4; }
  .header .nav li {
    border: solid 3px transparent;
    font-family: "Dosis", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    list-style: none;
    color: #f5f6f4;
    letter-spacing: .1em;
    padding: 1em;
    margin: .3em;
    display: block;
    transition: all 0.3s; }
    .header .nav li:hover {
      border: solid 3px #f5f6f4; }
  .header .nav a {
    text-decoration: none; }
  .header .list {
    display: block; }

@media screen and (min-width: 600px) {
  .header {
    width: 100%; }
    .header .nav {
      font-size: 0;
      background: #1fb870;
      padding: 0;
      width: 100%;
      text-align: center;
      display: block; }
      .header .nav .selected {
        border: solid 3px #f5f6f4; }
    .header .nav li {
      border: solid 3px transparent;
      font-family: "Dosis", sans-serif;
      font-weight: 600;
      color: #f5f6f4;
      list-style: none;
      display: inline-block;
      font-size: 1.125rem;
      letter-spacing: .1em;
      margin: .5rem;
      padding: 12px 15px;
      transition: all 0.3s ease-in-out; }
      .header .nav li:hover {
        border: solid 3px #f5f6f4; }
    .header .menuIcon {
      display: none; } }
/*Global styling*/
body {
  background-color: #f5f6f4;
  width: 100%; }

/*Events Section*/
.scroll-on-page {
  display: inline-block; }
  .scroll-on-page a {
    color: #262626;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    text-decoration: none; }
  .scroll-on-page aside {
    margin-top: 60px; }
    @media screen and (min-width: 30em) {
      .scroll-on-page aside {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .scroll-on-page aside:last-child {
          margin-right: 0; } }
  .scroll-on-page .scroll-on-page-link {
    display: block;
    font-size: 18px;
    outline: none;
    padding: 0.75em 30px; }
    .scroll-on-page .scroll-on-page-link:first-child {
      padding-top: 1.5em; }
    .scroll-on-page .scroll-on-page-link:last-child {
      margin-bottom: 1.5em;
      border-bottom: 3px solid rgba(31, 184, 112, 0.2); }
  .scroll-on-page article {
    max-width: 700px;
    width: 100%; }
    .scroll-on-page article section {
      padding: 0 30px; }
    .scroll-on-page article h4 {
      color: #1fb870;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 24px;
      margin: 60px 15px 30px 15px;
      width: 100%;
      text-align: center; }
    .scroll-on-page article div {
      border-bottom: solid 3px #1fb870;
      border-left: solid 10px #1fb870;
      border-right: solid 3px #1fb870;
      border-top: solid 3px #1fb870;
      float: left;
      margin: 15px 0;
      width: 100%; }
    .scroll-on-page article p {
      color: #394a43;
      font-family: "Montserrat", sans-serif;
      line-height: 1.5em;
      padding-left: 15px;
      padding-right: 15px; }
    .scroll-on-page article section p:first-of-type {
      font-size: 18px;
      font-weight: 400;
      margin-top: 30px;
      margin-bottom: 10px;
      width: 100%; }
    .scroll-on-page article section p:last-of-type {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
      margin-top: 0; }
    @media screen and (min-width: 30em) {
      .scroll-on-page article {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        .scroll-on-page article:last-child {
          margin-right: 0; }
        .scroll-on-page article section {
          box-sizing: border-box;
          overflow: hidden;
          width: 100%;
          padding: 0 30px; }
        .scroll-on-page article h4 {
          font-size: 36px; }
        .scroll-on-page article div {
          width: 100%;
          float: left; } }

/*Media queries*/

/*# sourceMappingURL=main.css.map */
